* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: "04b_03";
  src: url("../../Assets/fonts/04b_03.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
