* {
  box-sizing: border-box;
}

iframe {
  border: none;
}

body {
  margin: 0;
  background-color: rgb(58, 58, 58);
  height: 100vh;
  width: 100vh;
  overflow: hidden;
  overscroll-behavior-x: none;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
